.table tr.selectedRow {
  background: color-mix(in oklab, var(--color-base-200) 100%, var(--color-base-100) 80%);
}

.table tr.selectedRow td,
.table tr.selectedRow th {
  background: color-mix(in oklab, var(--color-base-200) 100%, var(--color-base-100) 80%);
}
.table tbody tr.selectedRow th {
  border-top: 1px solid var(--color-base-200);
  border-bottom: 1px solid var(--color-base-200);
}

.table tbody tr.rowHover,
.table tbody tr.rowHover td,
.table tbody tr.rowHover th {
  background: var(--color-base-200);
  border-top-color: var(--color-base-200);
  border-bottom-color: var(--color-base-200);
}

.table tbody tr td:first-child,
.table tbody tr th:first-child,
.table thead tr th:first-child,
.table thead tr td:first-child {
  padding-left: 1rem;
}

.table thead td,
.table thead th {
  white-space: normal;
}

.table tbody td,
.table tbody th,
.table thead th,
.table thead td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.table tbody th,
.table tbody td {
  font-size: var(--text-xs);
}

.table tbody th {
  font-weight: normal;
}

.thead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rowHref {
  position: relative;
}

.rowHref td:not(:global(.action-cell)),
.rowHref th:not(:global(.action-cell)) {
  cursor: pointer;
}

.table tr th.colAction,
.table tr td.colAction {
  width: 0;
  padding:0;
}

.actionCellContent {
  width: 0;
  height: 0;
  overflow: hidden;
}

tr .actionCellContent .moreActionsContainer {
  display: none;
}

tr.rowHover .actionCellContent {
  overflow: visible;
}

tr.rowHover .actionCellContent .moreActionsContainer {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  height: 100%;
  background: var(--color-base-200);
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}
