.table tr.selectedRow {
  background: color-mix(in oklab, var(--color-base-200) 100%, var(--color-base-100) 80%);
}

.table tr.selectedRow td,
.table tr.selectedRow th {
  background: color-mix(in oklab, var(--color-base-200) 100%, var(--color-base-100) 80%);
}
.table tbody tr.selectedRow th {
  border-top: 1px solid var(--color-base-200);
  border-bottom: 1px solid var(--color-base-200);
}

.table tbody tr:hover,
.table tbody tr:hover td,
.table tbody tr:hover th {
  background: var(--color-base-200);
  border-top-color: var(--color-base-200);
  border-bottom-color: var(--color-base-200);
}

.table tbody tr td:first-child,
.table tbody tr th:first-child,
.table thead tr th:first-child,
.table thead tr td:first-child {
  padding-left: 1rem;
}

.table thead td,
.table thead th {
  white-space: normal;
}

.table tbody td,
.table tbody th,
.table thead th,
.table thead td {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.table tbody th,
.table tbody td {
  font-size: var(--text-xs);
}

.table tbody th {
  font-weight: normal;
}

.thead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.rowHref {
  position: relative;
}

.rowHref td:not(:global(.action-cell)),
.rowHref th:not(:global(.action-cell)) {
  cursor: pointer;
}
