.dayPicker :global(.rdp-button_previous svg),
.dayPicker :global(.rdp-button_next svg) {
  fill: white !important;
}
.dayPicker :global(.rdp-button_previous):hover,
.dayPicker :global(.rdp-button_next):hover {
  background: #2196f3 !important;
}
.dayPicker :global(.rdp-day_button):hover {
  color: #000;
}

.dayPicker :global(.rdp-caption_label) {
  text-transform: capitalize;
}
.dayPicker :global(.rdp-dropdowns .rdp-chevron) {
  fill: white !important;
}
.dayPicker :global(.rdp-today .rdp-day_button) {
  background: none !important;
  border: 1px solid #114b7a !important;
}
.dayPicker :global(.rdp-selected .rdp-day_button) {
  background: #2196f3 !important;
}

.dayPicker :global(.rdp-today) {
  background: transparent !important;
}
